<h2><%= @book.book_title() %></h2>
<h3><%= @book.book_author() %></h3>
<h4><%= @book.book_genre() %></h4>

<form action= "/book/<%= @book.book_id() %>" method="post" class="form-horizontal">
  <fieldset>
    <input name="_method" type="hidden" value="patch">
    <input id="new_title" name="new_title" type="text" placeholder="ex. The Great Gatsby">
    <input id="new_author" name="new_author" type="text" placeholder="ex. F. Scott Fitzgerald">
    <input id="new_genre" name="new_genre" type="text" placeholder="Fiction or Nonfiction?">
    <button type="submit" class="btn-danger">Edit Book</button>
  </fieldset>
</form>
