<h1>Welcome to the Library of Pair of Three</h1>


<% if @books.any?() %>
<p>Books currently available:</p>

<ul>
  <% @books.each() do |book| %>
  <li><%= book.book_title() %>, <%= book.book_author() %></li>
  <% end %>
</ul>

<% else %>

<p>There are no books available!</p>

<% end %>

<form action= "/new_book" method="post">
  <input id="new_title" name="new_title" type="text" placeholder="ex. The Great Gatsby">
  <input id="new_author" name="new_author" type="text" placeholder="ex. F. Scott Fitzgerald">
  <input id="new_genre" name="new_genre" type="text" placeholder="Fiction or Nonfiction?">
  <button type="submit" class="btn-danger">Add book!</button>

</form>
