<h1>Welcome to the Library of Pair of Three</h1>


<% if @books.any?() %>
<p>Books currently available:</p>

<ul>
  <% @books.each() do |book| %>
  <li><%= book.title() %> + by: + <%= book.author() %></li>
  <% end %>
</ul>

<% else %>

<p>There are no books available!</p>

<% end %>

<form action="/new-book" method="post">
  <label for="new_book">Add a book:</label>
  <input id="new_book" name="new_book" type="text" placeholder="ex. The Great Gatsby">

  <button type="submit" class="btn-danger">Add book!</button>

</form>
