<html>
  <head>
    <title>Library</title>
    <link rel ="stylesheet" type="text/css" href="https://bootswatch.com/superhero/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
