<h1>Welcome to Patron's Portal!</h1>

<% if @patrons.any?() %>
<p>Patrons</p>

<ul>
  <% @patrons.each() do |patron| %>
  <li><a href ="/patron/<%= patron.patron_id() %>"><%= patron.name() %></a></li>
  <% end %>
</ul>

<% else %>

<h2>Expecto Patronus !</h2>

<% end %>

<form action= "/new_patron" method="post">
  <input id="new_name" name="new_name" type="text" placeholder="Hermione Granger">
  <button type="submit" class="btn-danger">Add A Patron!</button>
</form>
